@{
    ViewData["Title"] = "Contact Us";
}

<div class="container mt-5">
    <h1 class="text-center">Contact Us</h1>
    <p class="lead text-center">Thank you for your interest in Equity Bank's Bancassurance services. We are here to assist you with any questions or concerns you may have.</p>
    <div class="row mt-4">
        <div class="col-md-12">
            <h3>Customer Support:</h3>
            <p><strong>Phone:</strong> +254763000000</p>
            <p><strong>Email:</strong> info@equitybank.co.ke </p>
            <h3>Office Address:</h3>
            <p>Equity Bank Bancassurance</p>
            <p>
                Equity Centre, Hospital Road
                Upper Hill
                P.O. Box 75104-00200
            </p>
            <p>Nairobi, Kenya</p>
            <h3>Business Hours:</h3>
            <p>Monday to Friday: 8:00 AM - 4:30 PM</p>
            <p>Saturday: 8:00 AM - 12:30 PM</p>
            <p>Sunday: Closed</p>
            <p>For immediate assistance, you can also use our live chat feature available on our website or visit any of our branch locations. We look forward to helping you with all your bancassurance needs.</p>
        </div>
    </div>
</div>
